<ion-header>
  <ion-navbar color="navcolor">
    <ion-buttons left>
      <button ion-button (click)="cancel()" text-capitalize>
        Vazgeç
      </button>
    </ion-buttons>
    <ion-title>
      Yeni Randevu
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()" text-capitalize>
        Kaydet
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item *ngIf="!isEmptyType">
      <ion-label stacked color="primary">Randevu Tipi</ion-label>
      <ion-select [(ngModel)]="event.type" interface="popover">
        <ion-option *ngFor="let type of types" value="{{type.randevutipiid}}" (ionSelect)="adjustTime(type.sure)">{{type.isim}}</ion-option>
        <ion-option value="-99" (ionSelect)="adjustTime(30)">Diğer</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="isEmptyType">
      <ion-label stacked color="primary">Randevu Tipi</ion-label>
      <ion-select [(ngModel)]="event.type" interface="popover">
        <ion-option value="-99">Diğer</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Başlangıç</ion-label>
      <ion-datetime [(ngModel)]="event.startTime" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" cancelText="Vazgeç" doneText="Tamam" (ionChange)="adjustTimeByDate()"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label stacked color="primary">Bitiş</ion-label>
        <ion-datetime [(ngModel)]="event.endTime" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="DD/MM/YYYY HH:mm" cancelText="Vazgeç" doneText="Tamam" ></ion-datetime>
      </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Açıklama</ion-label>
      <ion-textarea rows="4" type="text" [(ngModel)]="event.description" clearInput="true"></ion-textarea>
    </ion-item>

    <!-->
    <ion-item>
      <ion-label>Bütün Gün?</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
    <!-->
  </ion-list>
</ion-content>
