<ion-header>

  <ion-navbar color="navcolor">
    <ion-title>Sekreterim</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <h2 align="middle" *ngIf="isEmptySecretary">Sekreter Yok</h2>
    <br>

    <ion-buttons text-center *ngIf="isEmptySecretary">
        <button ion-button icon-left align="center" (click)="showPrompt()">
          <ion-icon name="add"></ion-icon>
          Sekreter Ekle
        </button>
      </ion-buttons>

    <ion-item *ngIf="!isEmptySecretary">
        <h2>Adı Soyadı: {{secretary[0].sekreter}}</h2>
        <h3>TC Kimlik No: {{secretary[0].sekretertc}}</h3>
      </ion-item>

      <br><br>

      <ion-buttons text-center *ngIf="!isEmptySecretary">
          <button ion-button icon-left align="center" color="danger" (click)="showConfirm()">
            <ion-icon name="trash"></ion-icon>
            Sekreteri Sil
          </button>
        </ion-buttons>

</ion-content>
