page-homedoc {

    .up-left-icon{
      float:left;
      margin-left:5%;
      height: 45%;
      width: 45%;
      background-color: white;
    }
    .up-right-icon{
      float:right;
      margin-right: 5%;
      height: 45%;
      width: 45%;
      background-color: white;

    }
    .mid-left-icon{
      float:left;
      margin-left:5%;
      height: 45%;
      width: 45%;
      background-color: white;
    }
    .mid-right-icon{
       float:right;
       margin-right: 5%;
       height: 45%;
       width: 45%;
       background-color: white;
    }

    .down-left-icon{
      float:left;
      margin-left:5%;
      height: 45%;
      width: 45%;
      background-color: white;
    }
    .avatar {

      width: 100% !important;
      height: 100% !important;
      background-color: transparent;

    }
    .navbar {
      max-height: 50px;
      }

    }
