.ios, .md {

       page-patient-health-data-details {
         /*

           .scroll-content {
               background-color: map-get($colors, light);
           }

           ion-card-header {
               font-weight: bold;
           }

           .card{

                         margin-right: -7%;
                         margin-left: -1%;
                         margin-block-end: auto;
                         block-size: auto;
                         border-block-end: 0.5px groove rgba(238, 238, 238, 0.25);
                        }
*/
       }

   }
